.heading {
    font-family: Circe, sans-serif;
    font-weight: 700;
    color: var(--white);

    &--1 {
        font-size: 40px;
        line-height: 1;
    }

    &--2 {
        font-size: 32px;
        line-height: 40px;
    }

    &--3 {
        font-size: 20px;
        line-height: 26px;
    }

    &--4 {
        font-size: 18px;
        line-height: 26px;
    }

    &--5 {
        font-size: 14px;
        line-height: 20px;
    }

    &--thinner {
        font-weight: 400;
    }

    &--black {
        color: var(--black);
    }

    &--accent {
        color: var(--violet);
    }

    @media(min-width: 1024px) {
        &--1 {
            font-size: 76px;
            line-height: 68px;
        }

        &--2 {
            font-size: 56px;
            line-height: 64px;
        }

        &--3 {
            font-size: 24px;
            line-height: 32px;
        }

        &--4 {
            font-size: 20px;
            line-height: 26px;
        }

        &--5 {
            font-size: 16px;
            line-height: 24px;
        }

        &--bolder {
            font-weight: 800;
        }
    }
}

.text {
    font-family: Circe, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--white);

    &--bigger {
        font-size: 18px;
        line-height: 26px;
    }

    @media(min-width: 1024px) {
        font-size: 16px;
        line-height: 24px;

        &--bigger {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

