:root {
  --black: #0D1D4A;
  --violet: #7D2AEB;
  --violet-dark: #6435A5;
  --gray: #93A1C8;
  --gray-light: #F1F4F9;
  --yellow: #FFD304;
  --yellow-dark: #FDC607;
  --white: #FFFFFF;
  --pink: #F75DB8;
}
