.copyright {
    background-color: var(--white);

    @media (max-width: 768px) {
        font-size: 14px;

        background-color: #f1f4f9;
    }
}

.copyright__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    @media (max-width: 768px) {
        height: auto;
        flex-direction: column;
        text-align: center;
    }
}

.copyright__text {
    color: var(--black);
}

.copyright__payments {
    display: flex;
    align-items: center;

    color: var(--black);

    @media (max-width: 576px) {
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
    }
}

.copyright__payments-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
        width: 100%;
        margin-top: 14px;
        flex-wrap: wrap;
    }
}

.copyright__payment-system {
    width: 50px;
    margin-left: 25px;

    @media (max-width: 576px) {
        margin-left: 0;
    }

    &--iomoney {
        width: 110px;

        @media (max-width: 576px) {
            width: 70px;
        }
    }

    &--mc {
        width: 50px;

        @media (max-width: 576px) {
            width: 40px;
        }
    }

    &--visa {
        width: 45px;

        @media (max-width: 576px) {
            width: 37px;
        }
    }

    &--qiwi {
        width: 70px;

        @media (max-width: 576px) {
            width: 60px;
        }
    }

    &--sbp {
        width: 70px;

        @media (max-width: 576px) {
            width: 60px;
        }
    }
}
