.input {
    padding: 13px 16px;

    font-size: 14px;
    line-height: 20px;

    border: none;
    border-radius: 4px;
    outline: none;
    background-color: var(--gray-light);

    &:focus {
        outline: none;

        &::placeholder {
            color: transparent;
        }
    }
}
