.root {
    position: relative;

    padding-top: 20px;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    color: var(--white);

    background-color: var(--black);
    scroll-behavior: smooth;

    @media (min-width: 768px) {
        padding-top: 32px;
    }

    @media (min-width: 1024px) {
        padding-top: 40px;
    }
}

.content-wrapper {
    max-width: 1264px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

    @media (min-width: 768px) {
        padding-right: 32px;
        padding-left: 32px;
    }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.hidden {
    display: none !important;
}

.lock-scroll {
    overflow: hidden;
}
